doctype html
html(lang="mn")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
        title mnScript
    link(rel='stylesheet', href='css/styles.css')

  body
    h1.text--center ᠵᠠᠮᠤᠬ᠎ᠠ ᠶᠢᠨ ᠥᠴᠢᠯ
    h4.text--center ᠳ᠂ ᠨᠠᠮᠰᠠᠷᠠᠶ
    p
      | ᠨᠠᠶᠮᠠᠨ ᠵᠠᠭᠤᠨ ᠤ ᠲᠡᠷᠡᠲᠡᠭᠡᠬᠢ ᠵᠠᠮᠤᠬ᠎ᠠ ᠶᠢᠨ ᠱᠠᠷᠢᠯ 
      | ᠳᠡᠭᠡᠭᠦᠷ ᠥᠨᠦᠳᠦᠷ ᠲᠠᠯ᠎ᠠ ᠶᠢᠨ ᠪᠣᠯᠵᠤᠮᠤᠷ ᠵᠢᠷᠭᠢᠵᠦ 
      | ᠡᠬᠡ ᠨᠤᠲᠤᠭ ᠤᠨ ᠨᠣᠶᠠᠨ ᠰᠠᠯᠬᠢᠨ᠎ᠠ ᠭᠤᠳᠤᠶᠢᠭᠰᠠᠨ 
      | ᠬᠢᠯᠭᠠᠨ᠎ᠠ ᠶᠢᠨ ᠲᠤᠯᠤᠭᠠᠶ ᠭᠠᠰᠢᠭᠤᠳᠠᠯᠲᠠᠶ᠎ᠠ ᠪᠥᠬᠦᠯᠵᠡᠨ᠎ᠡ᠃ 
      | ᠲᠡᠷᠡ ᠭᠠᠵᠠᠷ ᠤᠨ ᠴᠡᠭᠡᠵᠢ ᠶᠢ ᠠᠨᠢᠷᠳᠠᠨ ᠴᠢᠩᠨᠠᠪᠠᠰᠤ 
      | ᠮᠣᠩᠭᠤᠯ ᠡᠷᠡᠰ ᠦᠨ ᠨᠥᠬᠦᠷᠯᠡᠯ᠂ ᠭᠤᠨᠢᠭᠲᠤ ᠬᠠᠭᠠᠴᠠᠯ 
      | ᠤᠨ ᠲᠤᠬᠠᠶ ᠡᠮᠭᠡᠨᠢᠯᠲᠦ ᠲᠡᠦᠬᠡ ᠶᠢ ᠥᠭᠦᠯᠡᠨ᠎ᠡ᠃ ᠣᠯᠠᠨ 
      | ᠠᠶᠢᠮᠠᠭ ᠤᠨ ᠴᠢᠰᠤᠲᠤ ᠲᠡᠮᠡᠴᠡᠯ ᠲᠠᠯ᠎ᠠ ᠶᠢᠨ ᠢᠵᠠᠭᠤᠷᠲᠠᠨ 
      | ᠨᠤᠭᠤᠳ ᠤᠨ ᠥᠷᠢᠰᠦᠯᠳᠦᠭᠡᠨ ᠲᠡᠮᠦᠵᠢᠨ ᠦ ᠢᠯᠠᠯᠲᠠ ᠪᠠᠷ 
      | ᠲᠡᠭᠦᠰᠴᠦ ᠪᠠᠶᠢᠭᠰᠠᠨ ᠲᠡᠷᠡ ᠵᠢᠯ᠁ ᠬᠠᠭᠠᠨ ᠵᠠᠮᠤᠬ᠎ᠠ 
      | ᠨᠥᠭᠦᠳ ᠲᠦᠷ ᠢᠶᠡᠨ ᠪᠠᠷᠢᠭᠳᠠᠭᠠᠳ ᠴᠢᠩᠭᠢᠰ ᠦᠨ ᠥᠷᠭᠦᠭᠡᠨ᠎ᠡ 
      | ᠬᠦᠷᠭᠡᠭᠳᠡᠵᠦ ᠢᠷᠡᠪᠡ᠃ ᠪᠣᠭᠳᠠ ᠡᠵᠡᠨ ᠳᠦᠷ ᠢᠶᠡᠨ ᠬᠠᠯᠳᠠᠭᠰᠠᠨ 
      | ᠪᠣᠭᠤᠯ ᠢᠷᠭᠡᠳ ᠢ ᠴᠢᠩᠭᠢᠰ ᠬᠠᠭᠠᠨ ᠡᠪᠡᠰᠦ ᠨᠣᠭᠤᠭ᠎ᠠ 
      | ᠬᠦᠷᠡᠩᠲᠦᠲᠡᠯ᠎ᠡ ᠴᠠᠭᠠᠵᠠᠯᠠᠵᠤ ᠵᠠᠮᠤᠬ᠎ᠠ ᠶᠢ ᠰᠤᠯᠠᠯᠠᠭᠠᠳ ᠥᠭᠦᠯᠡᠷᠦᠨ᠁
    p
      | ᠡᠪ ᠡᠶ᠎ᠡ ᠡᠪᠳᠡᠷᠡᠯᠴᠡᠵᠦ ᠣᠯᠠᠨᠲᠠ ᠪᠤᠳᠤᠯᠢᠭᠰᠠᠨ ᠴᠤ ᠠᠮᠢ ᠶᠢ 
      | ᠴᠢᠨᠢ ᠬᠡᠯᠲᠦᠷᠢᠭᠦᠯᠦᠶ᠎ᠡ ᠬᠠᠭᠠᠨ ᠠᠨᠳᠠ ᠮᠢᠨᠢ᠂ ᠡᠭᠡᠨᠡᠭᠲᠡ 
      | ᠨᠥᠬᠦᠷᠯᠡᠯ ᠢᠶᠡᠨ ᠪᠠᠲᠤᠳᠬᠠᠵᠤ
    blockquote
      | ᠥᠨᠳᠦᠷ ᠶᠡᠬᠡ ᠬᠠᠭᠠᠨ ᠰᠠᠭᠤᠳᠠᠯ ᠳᠤᠷ ᠢᠶᠠᠨ ᠵᠠᠯᠠᠷᠠᠵᠤ᠂ 
      | ᠥᠷᠯᠦᠭ ᠶᠢᠰᠦᠨ ᠵᠠᠩᠵᠤᠨ ᠤ ᠴᠢᠨᠢ ᠲᠣᠭ᠎ᠠ ᠪᠦᠷᠢᠨ ᠪᠠᠶᠢᠬᠤ 
      | ᠳᠤᠷ ᠪᠢ ᠢᠯᠡᠭᠦᠳᠡᠬᠦ ᠪᠢᠵᠡ ᠡ ᠠᠨᠳᠠ ᠮᠢᠨᠢ᠃ ᠴᠢᠮᠠᠳᠤ 
      | ᠵᠠᠶ ᠲᠠᠯᠪᠢᠵᠤ ᠥᠭᠭᠦᠶ᠎ᠡ᠃
    p
      | ᠦᠨᠳᠦᠰᠦ ᠮᠥᠴᠢᠷ ᠪᠥᠬᠡᠲᠡᠶ ᠬᠣᠷᠬᠤᠨᠠᠭ ᠤᠨ ᠰᠠᠭᠯᠠᠭᠠᠷ 
      | ᠮᠣᠳᠤ ᠰᠢᠭ ᠴᠡᠴᠡᠭᠯᠡᠨ ᠭᠠᠩᠬᠤᠵᠤ ᠶᠠᠪᠤᠭᠰᠠᠨ ᠶᠤᠮᠰᠠᠨ᠃ ᠦᠶᠯᠡ 
      | ᠶᠢᠨ ᠬᠣᠩᠭᠤᠷ ᠰᠠᠯᠬᠢ ᠶᠢ ᠮᠢᠨᠢ ᠶᠠᠮᠠᠷ ᠲᠩᠷᠢ ᠶᠢᠨ ᠵᠠᠶᠢᠷᠠᠩ 
      | ᠪᠥᠭᠡ ᠬᠥᠭᠡᠷᠭᠡᠳᠡᠭᠰᠡᠨ ᠢ ᠪᠦᠦ ᠮᠡᠳᠡ᠃ ᠠᠳᠬᠠᠭ ᠰᠠᠨᠠᠭᠠᠲᠤ 
      | ᠡᠮ᠎ᠡ ᠶᠢᠨ ᠦᠭᠡᠨ ᠳᠦᠷ ᠣᠷᠤᠵᠤ ᠠᠨᠳᠠᠭᠠᠶ ᠲᠠᠩᠭᠠᠷᠢᠭ ᠢᠶᠠᠨ 
      | ᠨᠢᠴᠤᠭᠰᠠᠨ ᠴᠠᠭ ᠠᠴᠠ ᠬᠣᠶᠢᠰᠢ ᠲᠠᠪᠢᠯᠠᠩ ᠵᠠᠶᠠᠭᠠᠨ ᠤ ᠬᠤᠪᠢ 
      | ᠵᠡᠷᠭᠡ ᠳᠦᠷ ᠤᠯᠠᠮ ᠪᠦᠷᠢ ᠰᠢᠬᠠᠭᠳᠠᠭᠰᠠᠭᠠᠷ ᠬᠠᠭᠠᠨ ᠠᠨᠳᠠ 
      | ᠴᠢᠨᠦ ᠡᠮᠦᠨ᠎ᠡ ᠬᠦᠷᠴᠦ ᠢᠷᠡᠯᠦᠭᠡ᠃ ᠠᠨᠳᠠ ᠮᠢᠨᠢ ᠴᠢ ᠪᠣᠯᠭᠤᠭᠠᠭᠲᠤᠨ᠃
    p
      | ᠲᠩᠷᠢ ᠳᠦᠷ ᠬᠣᠤᠰ ᠨᠠᠷᠠᠨ ᠮᠠᠨᠳᠤᠪᠠᠯ ᠭᠠᠵᠠᠷ ᠭᠠᠩ ᠪᠣᠯᠵᠤ 
      | ᠭᠠᠯ ᠰᠢᠲᠠᠨ᠎ᠠ᠃ ᠮᠣᠩᠭᠤᠯ ᠳᠤᠷ ᠬᠣᠶᠠᠷ ᠬᠠᠭᠠᠨ ᠪᠠᠶᠢᠪᠠᠯ 
      | ᠳᠠᠵᠢᠨ ᠰᠠᠮᠠᠭᠤᠨ ᠲᠠᠰᠤᠷᠠᠬᠤ ᠦᠭᠡᠶ᠃ ᠣᠯᠠᠨ ᠳᠠᠶᠢᠨ ᠳᠤᠷ 
      | ᠣᠷᠤᠯᠴᠠᠨ ᠴᠢᠳᠠᠯ ᠬᠦᠴᠦᠨ ᠳᠦᠷ ᠢᠶᠡᠨ ᠡᠷᠳᠦᠵᠦ ᠶᠠᠪᠤᠭᠰᠠᠨ 
      | ᠢᠶᠠᠨ ᠰᠠᠨᠠᠬᠤ ᠳᠤᠷ ᠴᠢᠨᠦ ᠢᠯᠳᠦ ᠶᠢᠨ ᠳᠣᠤᠷ᠎ᠠ ᠶᠠᠪᠤᠵᠤ 
      | ᠪᠢ ᠬᠡᠵᠢᠶ᠎ᠡ ᠴᠦ ᠴᠢᠳᠠᠬᠤ ᠦᠭᠡᠶ᠃ ᠨᠢᠭᠡᠨᠲᠡ ᠳᠡᠶᠢᠯᠳᠡᠰᠢ 
      | ᠦᠭᠡᠶ ᠬᠦᠴᠦ ᠶᠢ ᠣᠯᠤᠭᠰᠠᠨ ᠠᠨᠳᠠ ᠴᠢ ᠮᠢᠨᠦ ᠵᠠᠷᠯᠢᠭ ᠤᠨ 
      | ᠳᠣᠤᠷ᠎ᠠ ᠶᠠᠪᠤᠬᠤ ᠶᠢ ᠪᠠᠰᠠ ᠲᠡᠪᠴᠢᠬᠦ ᠦᠭᠡᠶ᠃ ᠴᠢ ᠪᠣᠯ 
      | ᠲᠩᠷᠢ ᠶᠢᠨ ᠪᠥᠭᠡ᠂ ᠰᠢᠳᠠᠷ ᠪᠠᠭᠠᠲᠤᠷ ᠤᠳ ᠲᠤᠷ ᠢᠲᠡᠭᠡᠭᠳᠡᠭᠰᠡᠨ 
      | ᠴᠢᠩᠭᠢᠰ ᠬᠠᠭᠠᠨ᠃ ᠪᠢ ᠴᠢᠮ᠎ᠠ ᠲᠠᠶ ᠵᠡᠷᠭᠡᠴᠡᠵᠦ ᠡᠷᠭᠦᠭᠳᠡᠭᠰᠡᠨ 
      | ᠬᠠᠮᠤᠭ ᠮᠣᠩᠭᠤᠯ ᠢ ᠵᠠᠬᠢᠷᠬᠤ ᠭᠦᠷᠦ ᠬᠠᠭᠠᠨ ᠵᠠᠮᠤᠬ᠎ᠠ᠁
    p
      | ᠥᠰᠬᠦ ᠨᠠᠰᠤᠨ ᠳᠤᠷ ᠢᠶᠠᠨ ᠣᠨᠤᠨ ᠤ ᠮᠥᠰᠦᠨ ᠳᠡᠭᠡᠷ᠎ᠡ 
      | ᠱᠠᠭᠠᠯᠴᠠᠨ ᠨᠠᠭᠠᠳᠴᠤ᠂ ᠡᠳᠦᠭᠡ ᠢᠳᠡᠷ ᠴᠠᠭ ᠲᠤᠷ ᠢᠶᠠᠨ 
      | ᠪᠦᠬᠦ ᠮᠣᠩᠭᠤᠯ ᠤᠨ ᠬᠤᠪᠢ ᠵᠠᠶᠠᠭᠠᠨ ᠳᠤᠷ ᠬᠣᠯᠪᠤᠭᠳᠠᠭᠰᠠᠨ 
      | ᠴᠢ ᠪᠢᠳᠡ ᠬᠣᠶᠠᠷ ᠨᠢᠭᠡ ᠨᠠᠷᠠᠨ ᠤ ᠳᠣᠤᠷ᠎ᠠ ᠪᠠᠭᠲᠠᠬᠤ ᠦᠭᠡᠶ ᠡ᠃ 
      | ᠤᠴᠢᠷ ᠡᠶᠢᠮᠦ ᠳᠦᠷ ᠬᠣᠶᠠᠷ ᠶᠡᠬᠡ ᠬᠠᠭᠠᠨ ᠬᠣᠶᠠᠷ ᠶᠡᠬᠡ 
      | ᠪᠠᠭᠠᠲᠤᠷ ᠬᠣᠶᠠᠷ ᠮᠣᠩᠭᠤᠯ ᠡᠷ᠎ᠡ ᠶᠢᠨ ᠶᠣᠰᠤᠭᠠᠷ ᠡᠨᠡ ᠬᠡᠷᠡᠭ ᠢ 
      | ᠨᠢᠭᠡ ᠲᠡᠶᠢᠰᠢ ᠪᠣᠯᠭᠠᠶ᠎ᠠ᠃ ᠬᠠᠭᠠᠨ ᠵᠠᠮᠤᠬ᠎ᠠ ᠶᠢᠨ ᠰᠤᠤ ᠠᠯᠳᠠᠷ ᠢ 
      | ᠳᠠᠶᠠᠭᠠᠷ ᠮᠣᠩᠭᠤᠯ ᠮᠡᠳᠡᠨ᠎ᠡ᠃ ᠡᠨᠡ ᠨᠡᠷ᠎ᠡ ᠰᠦᠷ ᠢᠶᠡᠷ ᠢᠶᠡᠨ ᠴᠢᠨᠦ 
      | ᠬᠠᠭᠠᠨ ᠠᠯᠳᠠᠷ ᠢ ᠥᠨᠳᠦᠷ ᠲᠦᠷ ᠡᠷᠭᠦᠭᠡᠳ ᠪᠢ ᠠᠮᠢ ᠪᠠᠨ ᠲᠡᠪᠴᠢᠶ᠎ᠡ᠃ 
      | ᠣᠯᠠᠨ ᠤ ᠰᠠᠨᠠᠭ᠎ᠠ ᠪᠦᠦ ᠬᠣᠶᠠᠷᠳᠠᠭ! ᠥᠯᠮᠡᠶ ᠡᠪᠦᠳᠦᠭ ᠳᠣᠤᠷ᠎ᠠ 
      | ᠴᠢᠨᠢ ᠪᠢ ᠢᠪᠡᠵᠦ ᠥᠭᠭᠦᠶ᠎ᠡ ᠬᠠᠭᠠᠨ ᠠᠨᠳᠠ ᠮᠢᠨᠢ! ᠴᠢᠨᠦ ᠨᠡᠷ᠎ᠡ 
      | ᠠᠭᠤᠳᠠᠮ ᠠᠤᠭ᠎ᠠ ᠪᠣᠯᠤᠭ᠃ ᠭᠦᠷᠦ ᠬᠠᠭᠠᠨ ᠵᠠᠮᠤᠬ᠎ᠠ ᠥᠪᠡᠷ ᠢᠶᠡᠨ 
      | ᠴᠢᠮᠠᠳᠤ ᠰᠥᠭᠦᠳᠦᠯᠦᠭᠡ ᠭᠡᠳᠡᠭ ᠢ ᠳᠤᠭᠤᠯᠤᠭᠠᠳ ᠬᠠᠮᠤᠭ ᠮᠣᠩᠭᠤᠯ᠂ 
      | ᠳᠥᠷᠪᠡᠨ ᠵᠦᠭ ᠨᠠᠶᠮᠠᠨ ᠵᠣᠪᠬᠢᠰ ᠲᠤᠷ ᠮᠢᠨᠤ ᠠᠯᠳᠠᠷ ᠤᠷᠢᠳ ᠬᠣᠵᠢᠳ 
      | ᠦᠵᠡᠭᠳᠡᠭᠡᠳᠦᠶ ᠪᠡᠷ ᠳᠠᠭᠤᠷᠢᠰᠬᠤ ᠪᠣᠯᠤᠨ᠎ᠠ᠃
    p
      | ᠨᠢᠭᠡᠳᠦᠭᠰᠡᠨ ᠶᠡᠬᠡ ᠭᠦᠷᠦᠨ ᠢ ᠨᠢᠭᠡ ᠭᠠᠷ ᠲᠤᠷ ᠬᠤᠷᠢᠶᠠᠨ 
      | ᠵᠠᠬᠢᠷᠤᠭᠤᠯᠬᠤ ᠶᠢᠨ ᠲᠤᠯᠠᠳᠠ ᠨᠢᠭᠡ ᠢᠨᠦ ᠨᠥᠭᠴᠢᠵᠦ ᠨᠥᠭᠦᠭᠡ 
      | ᠢᠨᠦ ᠬᠠᠭᠠᠴᠠᠶ᠎ᠠ᠃ ᠶᠢᠰᠦᠨ ᠬᠥᠯᠲᠦ ᠴᠠᠭᠠᠨ ᠲᠤᠭ᠂ ᠳᠠᠶᠢᠨ 
      | ᠲᠤᠯᠤᠭᠠᠨ ᠤ ᠬᠠᠷ᠎ᠠ ᠰᠦᠯᠳᠡᠨ ᠳᠦᠷ ᠴᠢᠨᠢ ᠬᠣᠶᠠᠭᠤᠯᠠᠨ ᠳᠤᠷ ᠠᠨᠤ 
      | ᠰᠥᠭᠦᠳᠦᠨ ᠭᠤᠶᠤᠶ᠎ᠠ ᠬᠠᠭᠠᠨ ᠠᠨᠳᠠ ᠮᠢᠨᠢ! ᠴᠢ ᠨᠠᠮᠠᠶ᠋ᠢ 
      | ᠥᠷᠦᠰᠢᠶᠡ! ᠥᠷᠦᠰᠢᠶᠡᠬᠦ ᠳᠦᠷ ᠢᠶᠡᠨ ᠴᠠᠭᠠᠵᠠᠯᠠᠵᠤ ᠥᠷᠦᠰᠢᠶᠡ᠃ 
      | ᠪᠢ ᠴᠢᠮ᠎ᠠ ᠲᠠᠶ ᠨᠥᠭᠦᠷᠯᠡᠶ᠎ᠡ! ᠨᠥᠭᠦᠷᠯᠡᠬᠦ ᠳᠦᠷ ᠢᠶᠡᠨ ᠦᠭᠦᠵᠦ 
      | ᠨᠥᠭᠦᠷᠯᠡᠶ᠎ᠡ! ᠬᠦᠴᠦᠷᠬᠡᠭ ᠭᠦᠷᠦᠨ ᠥᠨᠢ ᠮᠥᠩᠬᠡ ᠣᠷᠤᠰᠢᠬᠤ ᠶᠢ 
      | ᠪᠡᠯᠭᠡᠳᠡᠵᠦ ᠬᠠᠭᠠᠨ ᠪᠡᠶ᠎ᠡ ᠪᠡᠷ ᠢᠶᠡᠨ ᠲᠤᠭ ᠰᠦᠯᠳᠡ ᠶᠢ ᠴᠢᠨᠢ 
      | ᠲᠠᠬᠢᠶ᠎ᠠ! ᠡᠵᠡᠨᠲᠦ ᠤᠯᠤᠰ ᠤᠨ ᠲᠥᠯᠦᠭᠡ ᠮᠢᠨᠤ ᠡᠷᠭᠦᠬᠦ ᠥᠴᠦᠬᠡᠨ 
      | ᠡᠨᠡ ᠬᠤᠪᠢ ᠪᠠᠭᠠᠳᠠᠬᠤ ᠤᠴᠢᠷ ᠦᠭᠡᠶ ᠶᠢ ᠲᠩᠷᠢ ᠮᠡᠳᠡᠨ᠎ᠡ᠃ ᠣᠳᠤ ᠴᠢᠮᠠᠶ 
      | ᠳᠡᠶᠢᠯᠬᠦ ᠬᠦᠴᠦᠲᠡᠨ ᠭᠠᠵᠠᠷ ᠳᠡᠭᠡᠷ᠎ᠡ ᠦᠭᠡᠶ ᠡ! ᠴᠢᠨᠦ ᠪᠠᠭᠠᠲᠤᠷ 
      | ᠴᠡᠷᠢᠭ ᠦᠳ ᠦᠨ ᠡᠮᠦᠨ᠎ᠡ ᠶᠠᠭᠤ ᠴᠤ ᠲᠡᠰᠦᠨ ᠲᠡᠪᠴᠢᠵᠦ ᠴᠢᠳᠠᠬᠤ ᠦᠭᠡᠶ᠃
    p
      | ᠬᠠᠷᠢ ᠳᠠᠶᠢᠰᠤᠨ ᠬᠠᠳᠬᠤᠯᠳᠤᠬᠤ ᠶᠢ ᠰᠠᠨᠠᠭᠠᠷᠬᠠᠪᠠᠯ ᠮᠣᠩᠭᠤᠯ ᠴᠡᠷᠢᠭ 
      | ᠦᠨ ᠲᠠᠬᠢᠷ ᠰᠡᠯᠡᠮ᠎ᠡ ᠪᠡᠷ ᠳᠡᠯᠡᠬᠡᠶ ᠳᠠᠶᠢᠳᠤ ᠶᠢ ᠨᠤᠮᠤᠯᠠᠨ ᠬᠡᠮᠵᠢᠭᠲᠦᠨ! 
      | ᠳᠣᠷᠤᠨ᠎ᠠ ᠵᠦᠭ ᠲᠦᠷ ᠨᠠᠷᠠ ᠬᠠᠮᠢᠭ᠎ᠠ ᠠᠴᠠ ᠮᠠᠨᠳᠤᠳᠠᠭ ᠢ ᠣᠴᠢᠵᠤ 
      | ᠦᠵᠡᠭᠲᠦᠨ! ᠥᠷᠦᠨ᠎ᠡ ᠵᠦᠭ ᠲᠦᠷ ᠨᠠᠷᠠ ᠬᠠᠮᠢᠭ᠎ᠠ ᠰᠢᠩᠭᠡᠳᠡᠭ ᠢ 
      | ᠬᠦᠷᠴᠦ ᠮᠡᠳᠡᠭᠲᠦᠨ!
    p
      | ᠪᠠᠰᠠ ᠶᠡᠬᠡ ᠲᠥᠷᠦ ᠡᠵᠡᠨᠲᠦ ᠭᠦᠷᠦᠨ ᠦ ᠬᠡᠷᠡᠭ ᠢ ᠡᠮᠡᠰ ᠦᠨ 
      | ᠢᠶᠡᠨ ᠦᠭᠡ ᠲᠡᠶ ᠬᠤᠳᠬᠤᠯᠳᠤᠨ ᠵᠥᠪᠰᠢᠭᠴᠢ ᠨᠠᠳᠠ ᠪᠠᠷ ᠲᠡᠭᠦᠰᠬᠡᠯ 
      | ᠪᠣᠯᠤᠭ! ᠡᠨᠡ ᠮᠥᠴᠡ ᠡᠴᠡ ᠬᠣᠶᠢᠰᠢ ᠬᠠᠭᠠᠨ ᠵᠠᠮᠤᠬ᠎ᠠ ᠶᠢᠨ ᠠᠯᠳᠠᠷ᠂ 
      | ᠤᠷᠪᠠᠨ ᠲᠡᠷᠰᠯᠡᠭᠴᠢ ᠬᠡᠨ ᠢ ᠴᠦ ᠪᠣᠯᠪᠠ ᠲᠥᠷᠦ ᠶᠢᠨ ᠴᠡᠭᠡᠷᠯᠡᠯ ᠴᠠᠭᠠᠵᠠ 
      | ᠦᠯᠦ ᠲᠣᠭᠤᠷᠢᠬᠤ ᠶᠢᠨ ᠬᠠᠤᠯᠢ ᠪᠣᠯᠤᠭ! ᠥᠴᠢᠬᠦ ᠥᠴᠢᠯ ᠮᠢᠨᠢ ᠭᠦᠶᠴᠡᠯᠦᠭᠡ᠃ 
      | ᠬᠠᠭᠠᠨ ᠠᠨᠳᠠ ᠮᠢᠨᠢ᠂ ᠥᠰᠢᠶ᠎ᠡ ᠬᠣᠷᠤᠰᠤᠯ ᠪᠤᠴᠠᠯᠤᠭᠰᠠᠨ ᠬᠠᠮᠤᠭ ᠤᠨ ᠪᠡᠷᠬᠡ 
      | ᠴᠠᠭ ᠲᠤᠷ ᠴᠤ ᠥᠭᠡᠯᠦᠨ ᠡᠭᠡ ᠶᠢᠨ ᠰᠦᠨ ᠴᠢᠰᠤ ᠦᠭᠡᠶ ᠪᠠᠶᠢᠭᠰᠠᠨ ᠢ 
      | ᠰᠠᠨᠠᠵᠤ ᠴᠢᠰᠤ ᠭᠠᠷᠭᠠᠯ ᠦᠭᠡᠶ ᠪᠡᠷ ᠨᠠᠮᠠᠶ᠋ᠢ ᠠᠯᠠᠭᠤᠯᠤᠭᠲᠤᠨ!! 
      | ᠦᠳᠲᠡᠷ ᠲᠦᠷᠭᠡᠨ ᠲᠣᠨᠢᠯᠭᠠᠭᠲᠤᠨ! ᠲᠡᠦᠬᠡ ᠶᠢᠨ ᠬᠦᠷᠳᠦ ᠰᠠᠭᠠᠳ ᠲᠣᠳᠬᠠᠷ 
      | ᠦᠭᠡᠶ ᠣᠷᠴᠢᠭ! ᠭᠡᠪᠡᠶ᠃
    p
      | ᠴᠢᠩᠭᠢᠰ ᠬᠠᠭᠠᠨ ᠬᠡᠰᠡᠭ ᠪᠣᠳᠤᠯᠭᠠᠰᠢᠷᠠᠭᠰᠠᠨ ᠢᠶᠠᠨ ᠲᠡᠷᠢᠭᠦᠨ ᠢᠶᠡᠨ 
      | ᠡᠷᠭᠦᠵᠦ ᠰᠢᠳᠠᠷ ᠬᠦᠮᠦᠰ ᠢᠶᠡᠨ ᠳᠠᠭᠤᠳᠠᠨ ᠵᠠᠷᠯᠢᠭ ᠪᠣᠯᠭᠠᠪᠠ᠃
    p
      | ᠬᠠᠭᠠᠨ ᠴᠢᠩᠭᠢᠰ ᠦᠨ ᠵᠠᠷᠯᠢᠭ ᠪᠢᠰᠢ ᠭᠡᠳᠡᠭ ᠢ ᠮᠥᠩᠬᠡ ᠲᠩᠷᠢ 
      | ᠰᠣᠶᠤᠷᠬᠠᠲᠤᠭᠠᠶ! ᠪᠠᠭᠠᠲᠤᠷ ᠵᠠᠮᠤᠬ᠎ᠠ ᠶᠢᠨ ᠰᠡᠭᠦᠯᠴᠢ ᠶᠢᠨ ᠥᠴᠢᠯ 
      | ᠭᠡᠷᠢᠶᠡᠰᠦ ᠶᠢ ᠪᠡᠶᠡᠯᠡᠭᠦᠯᠵᠦ ᠴᠢᠰᠤ ᠭᠠᠷᠭᠠᠯ ᠦᠭᠡᠶ ᠦᠬᠦᠭᠦᠯᠦᠭᠲᠦᠨ! 
      | ᠠᠨᠳᠠ ᠳᠤᠷ ᠢᠶᠠᠨ ᠪᠡᠯᠡᠭᠯᠡᠭᠰᠡᠨ ᠠᠯᠲᠠᠨ ᠪᠦᠰᠡ ᠶᠢ ᠮᠢᠨᠢ ᠪᠦᠰᠡᠯᠡᠭᠦᠯᠵᠦ᠁ 
      | ᠠᠷᠭᠠᠮᠠᠭ ᠰᠠᠶᠢᠬᠠᠨ ᠬᠦᠯᠦᠭ ᠢᠶᠡᠷ ᠬᠠᠭᠠᠨ ᠵᠠᠮᠤᠬ᠎ᠠ ᠶᠢ ᠲᠠᠬᠢᠵᠤ᠂ 
      | ᠠᠭᠰᠠᠬᠤ ᠵᠡᠪᠰᠡᠭ ᠬᠣᠶᠠᠭ ᠳᠤᠭᠤᠯᠠᠭ᠎ᠠ ᠶᠢ ᠠᠨᠤ ᠠᠭᠰᠠᠭᠠᠨ ᠬᠦᠯᠦᠭ 
      | ᠪᠠᠭᠠᠲᠤᠷ ᠤᠨ ᠶᠣᠰᠤᠭᠠᠷ ᠣᠷᠤᠰᠢᠭᠤᠯᠤᠭᠲᠤᠨ! ᠡᠷ᠎ᠡ ᠬᠦᠮᠦᠨ ᠨᠥᠭᠦᠷᠯᠡᠬᠦ 
      | ᠳᠦᠷ ᠬᠠᠳᠠ ᠴᠢᠯᠠᠭᠤ ᠬᠠᠶᠢᠯᠵᠤ ᠤᠷᠤᠰᠴᠤ ᠴᠤ ᠪᠣᠯᠳᠠᠭ ᠢ ᠡᠷ᠎ᠡ ᠬᠦᠮᠦᠨ 
      | ᠡᠪᠳᠡᠷᠡᠬᠦ ᠳᠦᠷ ᠬᠠᠨ ᠲᠩᠷᠢ ᠬᠠᠭᠠᠷᠠᠵᠤ ᠴᠤᠭᠤᠷᠠᠵᠤ ᠴᠤ ᠪᠣᠯᠳᠠᠭ ᠢ 
      | ᠲᠦᠮᠡᠨ ᠦᠶ᠎ᠡ ᠰᠠᠨᠠᠲᠤᠭᠠᠶ! ᠡᠶᠢᠨᠬᠦ ᠠᠶᠢᠯᠠᠳᠤᠨ ᠡᠷᠭᠢᠬᠦ ᠳᠦᠷ ᠴᠢᠩᠭᠢᠰ 
      | ᠬᠠᠭᠠᠨ ᠤ ᠣᠪᠤ ᠲᠣᠪᠬᠠᠨ ᠪᠤᠭᠤᠷᠤᠯ ᠰᠠᠭᠤᠭᠰᠠᠨ ᠠᠷᠠᠮᠠᠭ ᠲᠠᠷᠠᠮᠠᠭ 
      | ᠰᠠᠬᠠᠯ ᠳᠡᠭᠡᠷ᠎ᠡ ᠨᠢᠯᠪᠤᠰᠤᠨ ᠳᠤᠰᠤᠯ ᠭᠢᠯᠲᠠᠭᠠᠨᠠᠪᠠ᠃
    p
      | ᠬᠠᠭᠠᠳ ᠤᠨ ᠵᠠᠷᠯᠢᠭ ᠶᠣᠰᠤᠭᠠᠷ ᠪᠣᠯᠵᠤ᠂ ᠮᠥᠩᠬᠡ ᠲᠩᠷᠢ ᠶᠢᠨ 
      | ᠲᠠᠭᠠᠰᠢᠶᠠᠯ ᠳᠤᠷ ᠨᠡᠶᠢᠴᠡᠪᠡ᠃
    p
      | ᠁ᠨᠠᠶᠮᠠᠨ ᠵᠠᠭᠤᠨ ᠤ ᠲᠡᠷᠡᠲᠡᠭᠡᠬᠢ ᠵᠠᠮᠤᠬ᠎ᠠ ᠶᠢᠨ ᠱᠠᠷᠢᠯ ᠳᠡᠭᠡᠭᠦᠷ 
      | ᠡᠬᠡ ᠨᠤᠲᠤᠭ ᠤᠨ ᠨᠣᠶᠠᠨ ᠰᠠᠯᠬᠢ ᠭᠤᠨᠢᠭᠲᠠᠶᠢᠬᠠᠨ ᠬᠡᠰᠦᠭᠦᠯᠴᠢᠯᠡᠵᠦ 
      | ᠨᠥᠭᠦᠷ ᠦᠨ ᠲᠤᠬᠠᠶ ᠦᠭᠡᠰ ᠢ ᠬᠢᠯᠭᠠᠨ᠎ᠠ ᠶᠢᠨ ᠪᠤᠲᠠᠨ ᠳᠤᠷ ᠰᠢᠪᠡᠭᠡᠨᠡᠨ 
      | ᠡᠷᠢᠨ ᠵᠠᠭᠤᠨ ᠳᠤᠷ ᠢᠯᠡᠭᠡᠨ᠎ᠡ᠃
    .content--end.text--right
      small 
        | ᠥᠭᠦᠯᠡᠯᠭᠡ 
        i.text--number 1995 
        | ᠣᠨ


    script(src="bower_components/jquery/jquery.min.js")
    script(src="bower_components/jquery-mousewheel/jquery.mousewheel.min.js")
    script.
      $(document).mousewheel(function(e, n) {
        e.preventDefault();
        var s = $(document).scrollLeft(),
          t = s - 50 * n;
        $(document).scrollLeft(t);
      });